*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/clearSky.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 100vh;
    color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    width: 40vw;
    background: transparent;
    border-radius: 2em;
    padding: 2.5em;
    box-shadow: 0px 1px 20px 20px rgb(0 0 0 / 20%);
}
.input-div{
    margin-bottom: .5em;
}
.input-div input{
    padding: .5em .4em;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    width: 80%;
    outline: none;
}
.input-div button {
    padding: .8rem .5rem ;
    background: none;
    cursor: pointer;
    width: 80%;
    font-size: 1.2em;
    border: .2em solid rgb(74, 77, 78);
    margin-top: .2em;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
    transition: .3s ease-in;
}
.input-div button:hover{
    background:rgb(22, 22, 22);
    border-color: rgb(255 157 0);
}
.weather-data{
    background: #fff;
    padding: 1.5em;
    background: rgb(0 0 0 / 65%);
    box-shadow: 0px 1px 20px 19px rgb(255 157 0);
    font-size: 1.3em;
    font-family: sans-serif;
    border-radius: 2em;
    margin-top: 1em;
}
#city{
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: .05em;
    margin-bottom:.5em ;
}
#weather-type{
    margin-top: .5em;
}

@media screen and (max-width:500px){
    .container{
        height: 80vh;
        width: 90vw;
    }
}